@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }

  section {
    @apply container mx-auto px-4 sm:px-6 lg:px-8;
  }

  p {
    @apply text-sm leading-relaxed;
  }

  h1 {
    @apply font-bold tracking-tight text-3xl md:text-5xl lg:text-6xl;
  }

  h2 {
    @apply font-semibold tracking-tight text-2xl md:text-4xl lg:text-5xl;
  }

  h3 {
    @apply font-semibold text-xl md:text-3xl lg:text-4xl;
  }

  h4 {
    @apply font-medium text-lg md:text-2xl lg:text-3xl;
  }

  h5 {
    @apply font-medium text-base md:text-xl lg:text-2xl;
  }

  h6 {
    @apply font-medium text-sm uppercase tracking-wide md:text-lg lg:text-xl;
  }

  a {
    @apply text-foreground hover:opacity-70 transition duration-300 text-sm;
  }
}
